{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>
        {% if page.collection.params.taxonomies %}
            Tagged with "{{ page.collection.params.taxonomies.tag.0|capitalize }}" |
        {% elseif header.title %}
            {{ header.title }} |
        {% endif %}
        {{ site.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}">
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ theme_url }}/images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme_url }}/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme_url }}/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme_url }}/images/apple-touch-icon-144x144-precomposed.png">

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %}
        {% do assets.addCss('http://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,latin-ext') %}
        {% do assets.addCss('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600&amp;subset=latin,latin-ext') %}
        {% do assets.addCss('theme://css/custom.css') %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') %}
        {% do assets.addJs('theme://js/custom.js') %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>

<body id="top" class="{{ page.header.body_classes }}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-6322775-26', 'auto');
        ga('send', 'pageview');
    </script>

    {% block header %}
        {% block header_navigation %}
        <nav class="main-nav">
            {% include 'partials/navigation.html.twig' %}
        </nav>
        {% endblock %}
    {% endblock %}

    {% if block('banner') is not empty %}
        <div class="banner">
            <div class="container">
                <div class="row">
                    {% block banner %}{% endblock %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="content">
        {% block body %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            {% block footer %}
                <p>Copyright &copy; {{ now|date('Y') }} Savage Adulting</p>
            {% endblock %}
        </div>
    </footer>

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}

</body>
</html>
